/* Wrapper para a página Home para anular a margem */
.home-page-wrapper {
  margin-left: -250px; /* Anula a margem de 250px do .content */
  width: 100vw; /* Garante que ocupa a largura toda */
}

.home-container {
  padding: 2rem 4rem; /* Adiciona um padding generoso */
  background-color: #fff; 
  min-height: 100vh; 
}
