@import "./theme.css";

.ui-tag {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Colors by type */
.ui-tag.info {
  background: var(--accent-soft);
  color: var(--accent);
}

.ui-tag.warn {
  background: #fdc08a;
  color: #922b0e;
}

.ui-tag.success {
  background: #bbf7d0;
  color: #166534;
}

.ui-tag.danger {
  background: #fecaca;
  color: #b91c1c;
}
